@import "reset.css";

/* font-family: "Orbitron", sans-serif; */

body {
  background-color: #ebfaff;
}

section {
  width: 340px;
  padding: 30px;
  background-color: #fff;
  margin: 50px auto;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

section nav.menu {
  width: 100%;
}

section nav.menu::after {
  content: "";
  display: block;
  clear: both;
}

section nav.menu a {
  font-size: 20px;
  color: #666;
}

section nav.menu a:first-of-type {
  float: left;
}

section nav.menu a:last-of-type {
  float: right;
}

section article.profile {
  width: 100%;
  text-align: center;
}

section article.profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 5px 15px 30px rgba(173, 216, 230, 0.8);
}

section article.profile h1 {
  font-weight: bold;
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1;
  color: #555;
  margin-bottom: 5px;
}

section article.profile h2 {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #bbb;
  margin-bottom: 30px;
}

section article.profile a.btnView {
  display: block;
  width: 180px;
  height: 32px;
  margin: 0px auto 20px;
  background-color: #444;
  border-radius: 16px;
  font-weight: bold;
  font-size: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #777;
  line-height: 32px;
  background: linear-gradient(45deg, #4affff, #35e0f7);
  box-shadow: 5px 10px 20px rgba(0, 255, 255, 0.5);
}

section ul.contact {
  margin-bottom: 25px;
}

section ul.contact li {
  width: 100%;
  padding: 10px 0px;
  border-bottom: 1px solid #eee;
}

section ul.contact li:last-child {
  border-bottom: none;
}
